/* reseteamos los estilos del navegador  */
*{
    /* con box-sizing lo que hacemos es que sume el padding con el width 
    el navegador hace un calculo para que se calcule el tamaño del elemento sumando el padding y el border 
    para evitar el scroll lateral 
    */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
   
}