*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(77, 77, 250);
}

section{
    /* esta regla impactara en el 80%  */
    width: 80%;
    /* height: 500px; */

    /* lo que hacemos con esto es limitar su minimo de tamaño  */
    min-width: 320px;

    /* lo que hacemos con esto es limitar el maximo de su tamaño  */
    max-width: 500px;
    background-color: red;

    /* aplicamos un margin de 0, y un automatico a los lados  */
    margin: 0 auto;


    /* indicamos el minimo de tamaño de bloque pero permitimos que siga escalando si el contenido lo requiere */
    min-height: 500px;

}
 